{{!-- via homeRoutes --}}
<body>
    <br>
        {{#if logged_in}} {{#if sameUser}}
        <div id="edit-post-container" class="w-100 d-flex justify-content-center">
            <a href={{edit_href_concat id}} class="w-100"><button id="edit-post" class="btn btn-secondary fs-5 fw-bolder btn-block w-75 mx-2">Edit Post</button></a>
            <button id="delete-post" class="btn btn-danger fs-5 fw-bolder btn-block w-75 mx-2">Delete Post</button>
        </div>
        <br>
        {{/if}}{{/if}}
    <div id="post-container" class="card">
        <div class="card-body">
            <div class="card-title row flex">
                <h3 class=>{{title}}</h3>
                <p class="">{{format_date date_created}} by {{user.username}} </p>
            </div>
            <p class="card-text ">{{body}}</p>
        </div>
    </div>
    <br>
    <div id="new-comment-container" class="w-100 d-flex justify-content-center">
        {{#if logged_in}}
        <button id="new-comment" class="btn btn-info fs-5 fw-bolder btn-block w-75">Add a comment</button>
        {{else}}
            <a href="/login" class="w-100 d-flex justify-content-center" style="text-decoration: none">
                <button id="new-comment" class="btn btn-info fs-5 fw-bolder btn-block w-75">Log in to comment</button>
            </a>
        {{/if}}
    </div> 
    <br>
    {{#each comments as |comment|}}
    <div class="card mx-4">
        <div class="card-body">
            <div class="card-title row flex">
                <h5 class="">{{format_date comment.date_created}} by {{comment.user.username}} </h5>
            </div>
            <p class="card-text ">{{comment.body}}</p>
        </div>
    </div>
    <br>
    {{/each}}
    <br>
</body>


<script src="/js/comment.js"></script>
{{#if logged_in}}
  <script src="/js/post.js"></script>
{{/if}}